:root {
  --primary-light: #ebebeb;
  --primary-dark: #212d40;
  --accent: #af9164;
  --semantic-red: #b6465f;
  --semantic-green: #2a7f62;
}

body {
  overflow: hidden;
}

canvas {
  display: block;
  border: 2px solid var(--primary-dark);
  background-color: var(--primary-light);
  margin: 8px;
  z-index: 100;
}

.menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.025); /* Semi-transparent black overlay */
  backdrop-filter: blur(4px); /* Apply blur effect */
  z-index: 1000; /* Ensure the menu is above the canvas */
}

.menu-overlay button[type="menu"] {
  font-size: 48px;
  font-weight: bold;
  padding: 12px 24px;
  margin: 10px;
  background-color: transparent;
  color: var(--semantic-green);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-overlay button[type="menu"]:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Semi-transparent white background on hover */
}

.menu-overlay button[type="menu"]:focus {
  outline: none;
}

.editing-overlay,
.playing-overlay,
.keys-hint-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none; /* Allow click events to pass through the overlays */
}

.editing-overlay {
  justify-content: center;
  align-items: end;
  flex-direction: column;
  z-index: 1;
}

.playing-overlay {
  justify-content: end;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.keys-hint-overlay {
  top: 32px;
  left: 32px;
  z-index: 9999;
  width: fit-content;
  height: fit-content;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.editing-gui input,
.editing-gui select,
.playing-gui input {
  pointer-events: all; /* Re-enable pointer events for the inputs */
}

.editing-gui {
  background-color: var(--primary-light);
  border: 2px solid var(--primary-dark);
  border-radius: 8px;
  padding: 20px;
  position: relative; /* Retain position: absolute */
  width: 30%;
  height: 85%;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.editing-gui::before {
  content: "EDITING"; /* Title content */
  position: absolute;
  top: -12px;
  left: calc(100% - 7em);
  padding: 0 8px; /* Add padding to the title */
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-dark); /* Use the accent color for the title text */
  background-color: var(
    --primary-light
  ); /* Same background color as the overlay */
}

/* Optional: Add a transition to make it look smoother when displayed */
.editing-gui {
  transition: opacity 0.3s ease;
}

.editing-gui.hidden {
  opacity: 0;
  pointer-events: none; /* Make the hidden overlay not clickable */
}

.add-pendulum-gui,
.audio-source-gui {
  background-color: var(--primary-light);
  border: 2px solid var(--primary-dark); /* Border color using the accent color */
  border-radius: 8px;
  padding: 10px;
  position: relative; /* Retain position: absolute */
}

.add-pendulum-gui::before {
  content: "Add pendulum"; /* Title content */
  position: absolute;
  top: -12px;
  left: 14px;
  padding: 0 4px; /* Add padding to the title */
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-dark); /* Use the accent color for the title text */
  background-color: var(
    --primary-light
  ); /* Same background color as the overlay */
}

/* Optional: Add a transition to make it look smoother when displayed */
.add-pendulum-gui,
.audio-source-gui {
  transition: opacity 0.3s ease;
}

.add-pendulum-gui.hidden,
.audio-source-gui.hidden {
  opacity: 0;
  pointer-events: none; /* Make the hidden overlay not clickable */
}

.add-pendulum-gui label,
.audio-source-gui label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

.add-pendulum-gui .input-group,
.audio-source-gui .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-pendulum-gui .input-group label,
.audio-source-gui .input-group label {
  margin-right: 10px;
}

.add-pendulum-gui input,
.audio-source-gui input {
  padding: 4px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70px;
}

.coordinates-input {
  display: flex;
}

.coordinates-input input {
  margin-right: 5px;
}

.hint {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

.audio-source-gui {
  /* Flexbox styles for rows */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.audio-source-gui::before {
  content: "AudioSource";
  position: absolute;
  top: -12px;
  left: 14px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

.audio-source-gui select {
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--primary-dark);
  appearance: none;
  cursor: pointer;
  /* Arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.4em top 50%;
  background-size: 0.5rem auto;
}

.audio-source-gui select:focus {
  outline: none; /* Remove the default focus outline on select elements */
  border-color: var(--semantic-green); /* Change border color on focus */
  box-shadow: 0 0 4px rgba(0, 128, 0, 0.2); /* Add a subtle shadow on focus */
}

/* Style the dropdown arrow for select elements (webkit browsers) */
.audio-source-gui select::-webkit-calendar-picker-indicator {
  filter: invert(30%) sepia(62%) saturate(2231%) hue-rotate(102deg)
    brightness(97%) contrast(95%);
  margin-right: 2px; /* Adjust the position of the arrow */
}

/* Flexbox styles for input groups in a row */
.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

/* Flexbox styles for individual input groups */
.input-group {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.audio-source-gui button {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid var(--accent); /* Add a 2px solid border with the semantic-green color */
  background-color: transparent; /* Transparent background for a flat design */
  color: var(--accent); /* Text color using the semantic-green variable */
  text-align: center;
  border-radius: 4px;
  pointer-events: all;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect on hover */
}

.audio-source-gui button:hover {
  background-color: var(--accent); /* Change the background color on hover */
  color: white; /* Change text color to white on hover for better contrast */
}

.add-pendulum-button {
  padding: 8px 12px;
  font-size: 18px;
  font-weight: bold;
  border: 3px sold var(--semantic-green);
  border-radius: 4px;
  background-color: var(--semantic-green);
  color: var(--primary-light);
  pointer-events: all;
  cursor: pointer;
}

/* Styling for tab-menu and content */
.tab-menu {
  display: flex;
  gap: 2px;
  align-self: end;
  pointer-events: all;
}

.tab-button {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 12px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  pointer-events: all;
}

.tab-button.active {
  border-color: var(
    --semantic-green
  ); /* Border color using the accent color for the active tab */
}

.tab-content {
  display: none;
  /* Additional styling for content container if needed */
}

.tab-content.active {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
